<div class="div-play-songs-box">
    <div class="div-play-songs select-none float-right hide">
        <code class="div-play-songs-info click break">0/0</code>
        <div class="div-play-songs-icon div-play-songs-icon-before_btn click" title="⬅️"><i class="fa-solid fa-chevron-left"></i></div>
        <div class="div-play-songs-icon div-play-songs-icon-play_btn click" title="▶️"><i class="fa-duotone fa-play"></i></div>
        <div class="div-play-songs-icon div-play-songs-icon-next_btn click" title="➡️"><i class="fa-solid fa-chevron-right"></i></div>
        <div class="clear"></div>
        <div id="play-songs"></div>
    </div>
</div>