.a-title{
    width: calc(100% - 20px);
    line-height: 20px;
    font-size: 16px;
    padding: 20px 10px;
}
p{
    margin-bottom: 10px;
}
.a-box{
    width: calc(100%);
}
.a-div{
    color: #007aff;
    width: calc(50% - 40px);
    margin: 10px 10px;
    border-radius: 10px;
    float: left;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    min-width: 100px;
    background: rgba(100,100,100,0.1);
    padding: 40px 10px;
}
.a-div:hover{
    opacity: 0.8;
    cursor: pointer;
}
.div-box{
    max-width: 800px;
    margin: auto auto;
}