.search-content{
    padding-bottom: 20px;
}
.match-kw-div{
    padding: 20px 10px;
    letter-spacing: 1px;
    width: 100%;
}
.match-kw-span-msg{
    /*font-size: 18px;*/
}
.match-kw-span-txt{
    padding: 10px 0;
    /*font-size: 14px;*/
    width: calc(100% - 20px);
}

.kws-a{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0;
}
.kws-show-btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
    margin: 30px auto;
}
