.search-content{
    padding-bottom: 20px;
}
.match-kw-div{
    padding: 20px 10px;
    letter-spacing: 1px;
    width: 100%;
}
.match-kw-span-msg{
    /*font-size: 18px;*/
}
.match-kw-span-txt{
    padding: 10px 0;
    /*font-size: 14px;*/
    width: calc(100% - 20px);
}
