.div-back{
    padding: 20px 0;
}

.docs-preview-box{
    padding: 10px 10px;
}

.docs-name{
    margin-bottom: 20px;
    line-height: 36px;
}
.docs-preview{
    margin-bottom: 20px;
    line-height: 24px;
}