.div-back{
    padding: 20px 0px;
}

.docs-preview-box{
    padding: 20px 10px;
}

.docs-name{
    margin-bottom: 20px;
    line-height: 34px;
}
.docs-preview{
    margin-bottom: 20px;
    line-height: 26px;
}