@charset "UTF-8";
/*
    局部模块css
*/

.content {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    zoom: 0.90;
}

.input-div {
    background: transparent;
    border-radius: 40px;
    width: calc(100% - 20px);
    margin-top: calc(3% + 100px);
    height: 48px;
    min-width: 300px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.select {
    height: 48px;
    width: 117px;
    font-size: 16px;
    border-radius: 44px;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: 600;
    padding: 0 14px 0 10px;
    float: left;
    outline: none;
    border: 2px solid rgba(0, 120, 254, 0.4);
    text-indent: 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    text-align: center;
    appearance: none;
    text-align-last: center;
}

.input {
    height: 44px;
    line-height: 44px;
    width: calc(100% - 117px - 30px - 4px - 5px);
    letter-spacing: 1px;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    border-radius: 44px;
    outline: none;
    border: 2px solid rgba(0, 120, 254, 0.4);
}

.search-style {
    display: block;
    background-color: transparent;
    color: rgba(220,220,220,1);
}

.input:focus {
    outline: none;
    border: 2px solid rgba(26,114,254, 1);
}

.select:focus {
    outline: none;
    border: 2px solid rgba(26,114,254, 1);
}

.input-div:after {
    position: absolute;
    left: 80px;
    top: 0;
    z-index: 1;
    content: "▼";
    height: 47px;
    width: 47px;
    line-height: 49px;
    pointer-events: none;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    border-radius: 44px;
    background: transparent;
    color: rgba(0, 120, 254, 0.4);
    /*border: 2px solid black;*/
}

.input-div-blur:after {
    content: "▼";
    transition: transform 0.5s;
    transform: rotateZ(0deg);
    color: rgba(0, 120, 254, 0.4);
}

.input-div-focus:after {
    content: "▼";
    transition: transform 0.5s;
    transform: rotateZ(90deg);
    color: rgba(0, 120, 254, 1);
}

.must-btn{
    font-weight: normal;
}

.more-btn{
    font-weight: normal;
    padding-top: 20px;
}

.search-btn-div {
    padding: 40px 10px;
    text-align: center;
    max-width: 407px;
    margin-left: auto;
    margin-right: auto;
}
.input-history-div{
    padding: 0px 15px;
    border-radius: 10px;
    max-width: 640px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: -4px auto;
    min-height: 26px;
}
.search-swiper-btn-div {
    padding: 20px 10px 40px 10px;
    text-align: center;
    max-width: 407px;
    margin-left: auto;
    margin-right: auto;
}

.quick-btn-center {
    margin-bottom: 15px;
}

.search-btn-style {
    font-size: 14px;
    border-radius: 35px;
    display: block;
    width: calc(100%/3 - 20px - 1px - 4px);
    line-height: 38px;
    height: 38px;
    overflow: hidden;
    text-align: center;
    border: 2px solid rgba(0, 120, 254, 0.3);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.search-btn-style:hover {
    opacity: 0.8;
}

.refresh-btn-span, .history-btn-span, .search-btn-span{
    font-weight: 500 !important;
}

.tips-div {
    font-size: 16px;
    color: #CD5C5C;
    height: 50px;
    text-align: center;
    line-height: 22px;
    padding: 10px 10px;
}

.res-txt {
    height: 44px;
    overflow: hidden;
}

.content-bg {
    position: fixed;
    z-index: 80;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.zoom-80 {
    zoom: 0.8;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.div-qr {
    padding: 5px 5px;
    border-radius: 3px;
    background: rgba(220,220,220,1);
    margin-left: auto;
    margin-right: auto;
    width: 101px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: calc(40px);
    opacity: 0.8;
}

.div-qr-box {
    background-size: calc(100% - 20px);
    width: 101px;
    height: 101px;
    border-radius: 1px;
}

.body::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.body {
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

.div-time {
    text-align: center;
    min-height: 44px;
    line-height: 44px;
    letter-spacing: 1px;
    padding-top: 135px;
    padding-bottom: 140px;
}

.div-time-span {
    padding-right: 8px;
}

.div-time-hour {
    font-size: 36px;
    opacity: 1;
    letter-spacing: 2px;
}

.div-time-date {
    font-size: 18px;
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
    .input-div {
        margin-top: calc(3% + 70px);
    }
    .content {
        zoom: 0.90;
    }
    /*.div-time {*/
    /*    display: none;*/
    /*}*/
    .history-span{
        max-width: 150px;
    }
}

.history-span{
    font-size: 16px;
    border-radius: 5px;
    line-height: 24px;
    padding: 0 5px;
    margin-right: 15px;
    margin-bottom: 2px;
    display: inline-block;
    max-width: 280px;
    height: 24px;
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.history-span:active{
    text-decoration: underline;
    font-size: 16px;
}
.history-span:hover{
    text-decoration: underline;
    font-size: 16px;
}

.swiper-container{
    padding-bottom: 30px;
    padding-top: 30px;
    opacity: 0.8;
}
.swiper-slide{
    min-height: 300px;
}
/*.swiper-pagination{*/
/*    z-index: 2000;*/
/*}*/
/*.swiper-button-next{*/
/*    z-index: 2200;*/
/*}*/
/*.swiper-button-prev{*/
/*    z-index: 2200;*/
/*}*/
/*.swiper-pagination-bullet {*/
/*    margin: 0 5px;*/
/*    background-color: lightblue;*/
/*}*/
/*.swiper-pagination-bullet-active {*/
/*   background-color: deepskyblue;*/
/*}*/
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background: rgba(115,115,115,0.2);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    color: rgba(220,220,220,1);
    background: dodgerblue;
    opacity: 1;
}
.left-fixed{
    position: fixed;
    z-index: 20230306;
    bottom: 10px;
    left: 0;
    padding-left: 7px;
    overflow: hidden;
    width: 220px;
    text-align: left;
}
.right-fixed{
    position: fixed;
    z-index: 20230305;
    bottom: 10px;
    right: 0;
    padding-right: 10px;
    overflow: hidden;
    width: 280px;
    text-align: right;
}

.qr-div-div{
    line-height: 24px;
    overflow: hidden;
}

.qr-div{
    border-radius: 3px;
    padding: 3px 3px;
    background: white;
    margin-bottom: 8px;
    float: right;
}
.qr-60{
    width: 60px;
    height: 60px;
}
.qr-20{
    width: 22px;
    height: 22px;
}
.new-qr-img{
    width: 100%;
}

.fixed-span-style{
    padding: 5px 3px;
    text-align: center;
}
.rights-div{
    margin-top: 1px;
}
.right-span{
    border-radius: 5px;
    padding: 7px 8px;
    display: inline-block;
    min-width: 20px;
    text-align: center;
    margin: 0 -2px;
}
.right-span-hover:hover{
    background-color: rgba(115,155,115,0.2);
}

.edit-website_mark{
    width: 200px;
    text-align: center;
    min-height: 20px;
    line-height: 20px;
    padding: 10px 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    background-color: rgba(115,115,115,0.2);
}

.home-drag-div{
    position: fixed;
    width: 100%;
    /*background-color: white;*/
    top: 0;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 20240314;
}

.right-line-div{
    width: 2px;
    height: 16px;
    display: inline-block;
    background-color: rgba(115,115,115,0.3);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 1px;
}